@charset "euc-jp";
body{
  background:#5AA218 url("body.gif") ;
  color:#666;
  margin:0;
  padding:0;
  text-align:center;
  font-family:"Century Gothic" , "Georgia" , Serif;
  word-break:break-all;
  word-wrap:break-word;
}
img{
  border:0;
}
h1,h2,h3,h4,h5{
  font-size:100%;
  margin:0;
  padding:0;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
p{
  margin:0;
  padding:0;
}
a{
  color:#2F8700;
}
a:visited{
  color:#6FAA50;
}
form{
  display:inline;
}
input , textarea{
  border:1px solid #DDD;
}
input:focus , textarea:focus{
  border:1px solid #BBB;
}
body table{
  color:#333;
  margin:0 auto 0 auto;
}
body table tr td{
}
body table tr td img{
}
body table table;
}
body table table tr td{
}
h1{
  font-size:200%;
  margin:0 auto 0 auto;
  text-align:left;
  width:757px;
  color:#FFF;
  text-indent:0.5em;
  padding:1em 0 1.0em 0em;
  letter-spacing:0.1em;
  background:url("h1.gif") right bottom no-repeat;
}
h1 a{
color:#FFF !important;
text-decoration:none;
}
.hatena-body{
  width:759px;
  margin:0 auto;
  text-align:left;
  font-size:90%;
  line-height:135%;
}
div.calendar{
  padding:0.5em;
  background:#E8F4E1;
  border-left:1px dashed #A1CF88;
  border-right:1px dashed #A1CF88;
  border-top:1px dashed #A1CF88;
  line-height:100%;
}
.main{
  float:left;
  margin-right:240px;
  margin-bottom:1em;
  border-bottom:1px dashed #A1CF88;
  width:519px;
}
.sidebar{
  float:right;
  width:240px;
  margin-left:-240px;
  margin-bottom:1em;
  border-bottom:1px dashed #A1CF88;
  background:#E8F4E1;
}
a.keyword , a.okeyword{
  color:#666;
  text-decoration:none;
  border-bottom:1px dotted #BCEAC0;
  padding-bottom:1px;
}
.day{
  background:#FFF;
  border-top:1px dashed #A1CF88;
  border-left:1px dashed #A1CF88;
  border-right:1px dashed #A1CF88;
  padding-bottom:1em;
}
.day h2{
  font-size:100%;
  background:url("") bottom center no-repeat;
  padding:1em;
  color:#BC8257;
}
.day h2 a{
  text-decoration:none;
  color:#BC8257;
}
.day h2 a.edit{
  font-size:70%;
  font-weight:normal;
  text-decoration:underline;
  margin-left:0.5em;
}
.day img.photo{
 float:right;
 margin:0 0.5em;
}
.body{
  padding:0 1em;
  color:#666;
  background:url("") bottom center no-repeat;
  zoom:1;
}
div.body:after {
  content:"";
  display:block;
  clear:both;
}

.body h3{
  padding:0 0 1em 0;
}
.body h3 a{
  text-decoration:none;
  color:#666;
}
.body h3 a span.sanchor{
  background:url("h3.gif") no-repeat;
  font-size:1px;
  color:#E9F7C8;
  padding:15px 0 15px 23px;
}
.body h3 span.timestamp{
  font-weight:normal;
  margin-left:1em;
}
.body h3.title {
    margin-bottom: 0;
    background:url("h3.gif") top left no-repeat;
    padding:5px 0 5px 25px;
}
.body h3.title a {
    text-decoration: none;
    color: #666;
}
.body h4 {
  margin:1em 1em 1em 0;
}
.body .section {
  margin-bottom:2em;
}
.body .section p{
  margin-bottom:1em;
  margin-left:1em;
  line-height:155%;
}
.body .section ul{
  margin:0.5em 2em;
  list-style:circle;
  line-height:155%;
}
.body .section pre{
 font-size:90%;
 padding:1em;
 margin:1em;
 line-height:120%;
 background: #8DB973;
 white-space : -moz-pre-wrap ;
 white-space : -pre-wrap ;
 white-space : -o-pre-wrap ;
 white-space : pre-wrap ;
 word-break  : break-all ;
 word-wrap   : break-word ;
 color:#FFF;
}
.body .section blockquote{
 padding:1em;
 margin:1em;
 font-size:90%;
 border:1px solid #A5CF8C;
 line-height:155%;
}
.body .section blockquote p{
  margin:0;
}
.body .section dl{
  margin:1em;
  line-height:155%;
}
.body .section dl dt{
  font-weight:bold;
}
.body .section dl dd{
  padding-bottom:1em;
}
.body .section table{
  border:1px dashed #A5CF8C;
  padding:1em;
  font-size:90%;
  width:auto;
  border-collapse:collapse;
  line-height:155%;
  color:#666;
}
.body .section table tr th{
  padding:5px;
  background:#E1F3E5;
  border-bottom:1px dashed #A5CF8C;
}
.body .section table tr th a{
  color:#666;
}
.body .section table tr td , .day div.body table tr td{
  padding:5px
}
.body .section p.sectionfooter { 
 text-align: right;
 margin:1em;
 font-size:90%;
}
.body .footnote{
  font-size:90%;
  line-height:155%;
}
/* syntax */  
.body .section .hatena-question-detail{
}
.body .section .hatena-question-detail-title{
  padding:0.3em;
}
.body .section .hatena-question-detail-label{
  width:30%;
  padding:0.3em;
}
.body .section .hatena-question-detail-value{
  width:65%;
  padding:0.3em;
}

.body .section .hatena-asin-detail{
  padding:1em;
}

.body .section .hatena-asin-detail a{
}

.body .section .hatena-asin-detail-info{
}

.body .section .hatena-asin-detail-info ul{
  list-style:none;
  margin:0.5em;
}

.body .section .hatena-asin-detail-info ul li{
}

.body .section .hatena-asin-detail-image{
  float:left;
  margin-right:10px;
}

.body .section .hatena-asin-detail-title{
}

.body .section .hatena-asin-detail-foot{
 clear:both;
}

/* comment referer */  

div.comment , div.refererlist{
  font-size:90%;
  background:#F4F0E7 url("comment.gif") bottom center;
  padding-bottom:0.5em;
  margin:1em 1em 0 1em;
  border:1px dashed #DFD5B9;
}

div.comment .caption, div.refererlist .caption{
  background: url("") top center no-repeat;
  padding:1em;
  font-size:110%;
}

div.comment .caption a, div.refererlist .caption a{
}

div.comment .commentshort , div.refererlist ul{
  padding:0.5em 1em;
}
div.comment .commentshort p ,div.refererlist ul li{
  margin-bottom:0.5em;
}
div.comment .commentshort p .canchor{
}

div.comment .commentshort p .commentator{
  font-weight:bold;
}

div.comment .commentshort a{
}

div.comment input, .refererlist input{
  background:#FFF;
  border:1px solid #DDD;
}

div.comment input:focus, .refererlist input:focus{
  background:#FFF;
  border:1px solid #bbb;
}

div.comment textarea{
  width:445px;
  margin-bottom:0.5em;
  background:#fff;
  border:0;
  padding:0.2em;
  border:1px solid #DDD;
}

div.comment textarea:focus{
  background:#FFF;
  border:1px solid #bbb;
}

div.refererlist ul li a{
}

/* sidebar module */  

.hatena-module{
  background:#E8F4E1;
  border-top:1px dashed #A1CF88;
  border-right:1px dashed #A1CF88;
}

.hatena-module .hatena-moduletitle{
  font-size:100%;
  padding:0.5em;
  line-height:100%;
  background:#AED798 url("hatena-modletitle.gif") top right no-repeat;
  color:#FFF;
  border-bottom:1px dashed #E9F0F5;
}

.hatena-module .hatena-moduletitle a{
  color:#FFF;
}

.hatena-module .hatena-moduletitle a:hover{
  text-decoration:underline;
}

.hatena-module .hatena-modulebody{
  padding:1em;
  background:url("") bottom center no-repeat;
}

.hatena-module .hatena-modulebody ul{
  margin-bottom:0.5em;
}
.hatena-module .hatena-modulebody ul li{
  padding:0.2em;
  list-style:circle;
  margin-left:15px;
}

.hatena-module .hatena-modulebody ul.hatena-photo li{
  background:transparent;
  display:inline;
  margin:0;
  padding:0;

}

.hatena-module .hatena-modulebody ul.hatena-photo li img{
}

.hatena-module .hatena-modulebody a{
}

.hatena-module .hatena-modulebody a:hover{
  text-decoration:underline;
}

.hatena-module input{
  margin-right:0.5em;
}
.hatena-module input:focus{
}
p.recentitem{
  margin:0;
}

div.recentsubtitles{
}

ul.keywordcloud {
  margin: 0;
  padding: 0;
}

.hatena-module .hatena-modulebody ul.keywordcloud li {
  font-size:90%;
  display: inline;
  padding:0;
  margin:0.5em;
  background:transparent;
}

ul.keywordcloud li a{
  display:inline;
  line-height:1.2;
}

ul.keywordcloud li a.keywordcloud0 { font-size: 80%; }
ul.keywordcloud li a.keywordcloud1 { font-size: 100%; }
ul.keywordcloud li a.keywordcloud2 { font-size: 120%; }
ul.keywordcloud li a.keywordcloud3 { font-size: 140%; }
ul.keywordcloud li .keywordcloud4 { font-size: 160%; }
ul.keywordcloud li a.keywordcloud5 { font-size: 180%; }
ul.keywordcloud li a.keywordcloud6 { font-size: 200%; }
ul.keywordcloud li a.keywordcloud7 { font-size: 220%; }
ul.keywordcloud li a.keywordcloud8 { font-size: 240%; }
ul.keywordcloud li a.keywordcloud9 { font-size: 260%; }
ul.keywordcloud li a.keywordcloud10 { font-size: 280%; }

/* calendar */  

table.calendar{
  font-size:90%;
  margin:0 auto;
  width:200px;
  border-top:0;
  border-right:0;
  border-left:0;
  background:transparent;
}

table.calendar tr td{
  text-align:center;
}

table.calendar td.calendar-prev-month{
  text-align:left;
}

table.calendar td.calendar-current-month{
  text-align:center;
}

table.calendar td.calendar-next-month{
  text-align:right;
}

table.calendar td.day-today{
  border:1px dashed #A1CF88;
  background:#FFF;
}

table.calendar td.day-selected{
 font-weight:bold;
}

table.calendar td.calendar-day img{
 width:15px;
 height:15px;
}

/* profile */  

.hatena-profile{
 _height:1%;
}

.hatena-profile:after{
  clear:both;
  content:"";
  display:block;
  height:3px;
}

.hatena-profile-image,.hatena-profile-id,.hatena-profile-body{
  margin:0px;
  font-size:90%;
}

.hatena-profile-body{
  margin-right:0;
}

.hatena-profile-image{
  float:left;
  margin:0 0.2em;
}

/* clock */  

.hatena-clock{
  text-align:center;
}

/* adminmenu */  

div.adminmenu{
 width:780px;
 text-align:right;
 font-size:90%;
 margin:0px auto;
 padding:0.5em 0;
}

span.adminmenu a{
  margin-left:0.5em;
  color:#EEE;
}

/* ad */  

.ad{
 margin:1em 0;
}

/* footer */  

div.footer{
  clear:both;
}


/* === ABOUT === */

#hatena-about h3{
  clear:left;
  padding-top:1em;
}

/* Hatena-Star */

.hatena-star-comment-button-image {
  background-image: url("http://s.hatena.ne.jp/images/comment_gr.gif");
}

.hatena-star-add-button-image {
  background-image: url("http://s.hatena.ne.jp/images/add_gr.gif");
}

/* adsense */

.google_color_text { color:#666666; }
.google_color_link { color:#2f8700; }
.google_color_url { color:#666666; }
.google_color_bg { color:#ffffff; }
.google_color_border { color:#ffffff; }

/* max-width */

div.main div.section img.hatena-fotolife {
  max-width:460px;
}

div.section img.hatena-fotolife {
  max-width:700px;
}

/* tweet */  

div.twitter-tweet, 
div.twitter-detail {
  margin-top:0;
  margin-bottom:0;
  border-bottom:1px solid #E4E4E4;
}

div.twitter-tweet p.twitter-tweet-text, 
div.twitter-detail p.twitter-detail-text {
  margin:0;
  padding-top:7px;
}

div.twitter-tweet p.twitter-tweet-info, 
div.twitter-detail p.twitter-detail-info {
  color:#999999;
  font-size:80%;
  padding-top:0;
  padding-bottom:6px;
  margin-left:0;
}
div.twitter-detail div.twitter-detail-user img {
  margin-top:6px;
}

div.twitter-tweet p.twitter-tweet-info a, 
div.twitter-detail p.twitter-detail-info a{
  color:#999999;
  text-decoration:none;
}

div.twitter-tweet p.twitter-tweet-info a:hover, 
div.twitter-detail p.twitter-detail-info a:hover{
  text-decoration:underline;
}